name: Build (macOS)

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs:
    build:
        runs-on: macos-latest
        strategy:
            matrix:
                build_type: [Release, Debug]
        env:
            TARGET_ARCH: universal

        steps:
          - name: Checkout repository
            uses: actions/checkout@v4
            with:
                submodules: true

          - name: Cache dependencies
            uses: actions/cache@v4
            with:
                path: third_party
                key: ${{ runner.os }}-universal-deps-${{ hashFiles('build-deps.sh') }}

          - name: Install dependencies
            run: sh build-deps.sh

          - name: Build for macOS (${{ matrix.build_type }})
            run: |
                set -o pipefail
                cmake -B build-${{ matrix.build_type }} \
                  -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
                  -DCMAKE_OSX_ARCHITECTURES="arm64;x86_64"
                cmake --build build-${{ matrix.build_type }} --parallel 2>&1 | tee build.log
            shell: bash

          - name: Upload build log
            if: always()
            uses: actions/upload-artifact@v4
            with:
                name: build-log-macos-${{ matrix.build_type }}
                path: build.log
