name: Build (Linux)

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                build_type: [Release, Debug]

        steps:
          - name: Checkout repository
            uses: actions/checkout@v4
            with:
                submodules: true

          - name: Cache dependencies
            uses: actions/cache@v4
            with:
                path: third_party
                key: ${{ runner.os }}-deps-${{ hashFiles('build-deps.sh') }}

          - name: Install dependencies
            run: |
                sudo apt update
                sudo apt install -y $(cat tools/requirements-ubuntu-sdl3.txt)
                sudo apt install -y clang curl nasm
                ./build-deps.sh
            shell: bash

          - name: Build for Linux (${{ matrix.build_type }})
            run: |
                set -o pipefail
                CC=clang CXX=clang++ cmake -B build-${{ matrix.build_type }} -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
                cmake --build build-${{ matrix.build_type }} --parallel 2>&1 | tee build.log
            shell: bash

          - name: Upload build log
            if: always()
            uses: actions/upload-artifact@v4
            with:
                name: build-log-linux-${{ matrix.build_type }}
                path: build.log
